i {
  font-size: 171px;
  margin-top: 48px;
  color: salmon;
}


form {
  margin-left: 10px;
}

body {
  background-image: url(http://bit.ly/2gPLxZ4);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}



h1 {
  color: salmon;
  margin-bottom: 80px;
}

#barColor,
#labelColor {
  border-radius: 50px;
}